/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
  line-height: 1.4;
  color: #696969;
}

h1  {
  font-size: 2.5rem;
  font-weight: 900;
}

h2  {
  font-size: 2rem;
  font-weight: 600;
}

h3  {
  font-size: 1.5rem;
}

.row-container  {
display: flex;
flex-direction: row;
justify-content:space-between;
  border-style: solid;/*TEMP*/
  border-color: red;/*TEMP*/
  border-width: thin;/*TEMP*/
max-width:100%;
}

.column-container  {
  display: flex;
  flex-direction: column;
  justify-content:center;
    border-style: solid;/*TEMP*/
    border-color: green;/*TEMP*/
    border-width: thin;/*TEMP*/
    max-width:100%;
}

.tile-container  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
    border-style: solid;/*TEMP*/
    border-color: green;/*TEMP*/
    border-width: thin;/*TEMP*/
    max-width:100%;
}

.main-image  {
  border-style: solid;/*TEMP*/
  border-color: red;/*TEMP*/
  border-width: thin;/*TEMP*/
}

.primary-container,
.banner-container,
.banner-words  {
  border-style: solid;/*TEMP*/
  border-color: blue;/*TEMP*/
  border-width: thin;/*TEMP*/

}

.tiles,
.thumb-container  {
  border-style: solid;/*TEMP*/
  border-color: Gold;/*TEMP*/
  border-width: thin;/*TEMP*/
}



/*Header*/

#header  {
  height: 64px;
}
nav  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Logo */


/* Navigation Bar */
nav li {
  display: inline;
  padding: 0 1rem;
}

/*Main Banner*/

#banner {
  background-color: #c0c0c0;
}

.main-words  {
display: flex;
flex-direction: column;
justify-content: center;
width: 40%;
}

.banner-container  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
}

.main-image  {
  width: 60%;
  margin: 32px 24px;
}


.main-image img {
width: 100%;
height: 100%;
}

.banner-words  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: auto;



  /* width: 30%; */

}

button {
  width: 60%;
  font-size: 1.8rem;
  background-color: darkgrey;
  color:white;
  align-self: center;
}





/*Orientation, About Us and Lectures*/
.primary-container  {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  width: 60%;
}

.main-primary-image  {
  margin:32px 24px;
}
.main-primary-image img {
width: 100%;
height: 100%;
}



/* .primary-container img {
max-width: 100%;
max-height: auto;
} */

/* .main-container img  {
  width: 100%;
  max-height: auto;

} */

.secondary-container  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
}

.thumb-container  {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.thumb-container img  {
  width: 35%;
  height: auto;
  padding: 16px 16px;
}




/*Subjects*/

.title  {
 text-align: center;
}


.tile-container  {
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

.tiles  {
width: 33%;


}

.tiles img  {
  height: auto;
  width: 100%;
}

#learning  {
  background-color: #dcdcdc;
}


/*Thesis*/




/*Footer*/

footer  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer li {
  display: inline;
  padding: 0 1rem;
}
